*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Teachers;
    background: #071336;
    color: #fff;
    list-style: none;
}

a{
    opacity: 0.7;
    transition: .3s;
}

a:hover{
    opacity: 1;
}

p{
    font-size: 1rem;
    font-weight: 500;
    color: #f5f5f5;
}